{% load static %}
<!DOCTYPE html>
<html lang="en">
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href={% static "aboutpage.css" %}>

</head>
<body>
<header>
<div class="topnav">
 <img src="img/logo.png"> 
</div>
<div>
<span class="about">About</span>
<p> We are here with an idea to bring back the smile of our e-commerece customers by turning our hands towards the increased delivery charges.<br>
Our DeCut simply indicates towards to the "Delivery Charges Cutting".
</div>
</header>
<div class="footer">

</div>
</body>
</html>